{% extends "base.html" %}
{% block content %}

<div class="bug-desc">
    <div class="row ">
        <div class="offset-md-1 col-md-6 my-4">
            <h2>{{bug.name}}</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="offset-md-1 col-md-8">
            <h5>Description</h5>
            <p>{{bug.desc}}</p>
            <p><a href="{% url 'view_bugs' %}" class="btn btn-primary">Back To Bugs</a></p>
        </div>
        <div class="col-md-2 text-center mt-4">
            
            <h5>Status</h5>
            <p>{{bug.status}}</p>
    
            <h5>Votes</h5>
            <p>{{users_votes}}</p>
            
            {% if users_votes2 == 1 %}
                <p><a href="{% url 'user_vote' bug.id %}" class="btn btn-primary disabled">Upvote</a></p>
                <p>You have upvoted this bug.</p>
            {% else %}
                <p><a href="{% url 'user_vote' bug.id %}" class="btn btn-primary">Upvote</a></p>
            {% endif %}
            <p></p>
        </div>
    </div>
    
</div>

<div class="row mt-3 mb-3">
    <div class="offset-md-1 col-md-11">
        <h3>Comments</h3>
    </div>
    <div class="offset-md-1 col-md-2">
    <a href="{% url 'add_comment' bug.id %}" class="btn btn-primary">Add comment</a>
    </div>
</div>


<!--<div class="row">-->
<!--    <div class="offset-md-1 col-md-5">-->
        
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--        <h5>User</h5>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--        <h5>Comment Date</h5>-->
<!--    </div>-->
<!--</div>-->

{% for comment in comments %}
<div class="row comment-area my-3">
    <div class="offset-md-1 col-md-3 pt-3 comment-details">
        <p>{{comment.published_date}}</p>
        <h6>{{comment.user}}</h6>
    </div>
    <div class="col-md-7 mt-2">
        <p>{{comment.comment}}</p>
    </div>
</div>
{% endfor %}

{% endblock %}