{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="bug-page">
    <div class="row ">
        <div class="col-sm-6 desc mx-auto p-4 text-center">
            <form method="post" action="{% url 'register' %}" class="accountform">
                <fieldset class="form-group">
                    <legend>Create a new account</legend>
                    <p class="p-2">Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                    {% csrf_token %}
                    {{  user_form | as_bootstrap }}
                    <button type="submit" class="btn btn-primary">Create account</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
