@import "helpers/variables";
@import "helpers/mixins";

body{
    font-family: 'Open Sans', sans-serif;
}

#main-content{
    min-height: 80vh;
    margin-top: 100px;
}

.navbar {
    background-color: $red;
    color: $white;
    .fa {
        margin-right: 5px;
        margin-left: 20px;
        color: $white;
    }
    a{
        color: $white;
    }
    .navbar-brand {
        color: $white;
    }
    
}

.footer {
    .container {
        color: $red;
        border-top: solid 1px $red;
        padding-top: 24px;
        padding-bottom: 6px;
        font-size: 18px;
        .row{
            padding-top: 10px;
            .fa {
                color: $red;
                font-size: 24px;
            }
        }
    }
}



.ticket-overview {
    min-height: 70px;
    background-color:$light-feature;
    border-radius:5px;
}

.bug-page {
    .ticket-overview {
        min-height: 70px;
        background-color:$light-bug;
        border-radius:5px;
        @include box-shadow( 1px 1px 1px 0px rgba(173,170,173,1));
    }
    .btn-primary {
        background-color: $dark-bug;
        color: $white;
    }
    .desc {
        @include box-shadow( 1px 1px 1px 0px rgba(173,170,173,1));
        background-color: $light-bug;
    }
    .filter-box{
        @include box-shadow( 1px 1px 1px 0px rgba(173,170,173,1));
        background-color: $light-bug;
    }
}

.feature-page {
    .ticket-overview {
        min-height: 70px;
        background-color:$light-feature;
        border-radius:5px;
        @include box-shadow( 1px 1px 1px 0px rgba(173,170,173,1));
    }
    .btn-primary {
        background-color: $dark-feature;
        color: $white;
    }
    .desc {
        @include box-shadow( 1px 1px 1px 0px rgba(173,170,173,1));
        background-color: $light-feature;
    }
    .filter-box{
        @include box-shadow( 1px 1px 1px 0px rgba(173,170,173,1));
        background-color: $light-feature;
    }
}


.btn-primary {
    background-color: $red;
    border: none;
  &:hover {
    background-color: $red;
    color: $white;
    }
  &:focus {
    background-color: $red;
  }
}

.table-headers {
    .h6, h6{
        font-weight: bold;
    }
}



.comment-area{
    min-height: 100px;
    
}

.comment-details{
    background-color: $dark-grey;
    border-radius: 5px 0 0 5px;
}

.comment-comment{
    background-color: $light-grey;
    border-radius: 0 5px 5px 0;
}

// @media screen and (max-width: 575px) {
//   .filter-box{
//     box-shadow: none;
//     }
// }